.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  padding-top: 1.2  rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.2s ease-out;
  padding: 1.2rem;
  border-radius: .4rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 3rem;
  height: 3rem;
}