.cyclesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.cyclesDots {
  display: flex;
  gap: 0.4rem;
}

.cyclesDot {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTimer {
  background-color: var(--info);
}
